body{
    background: black;
}
/* used to set a different logo */
.nav-bar__logo img {
    content: url(https://raw.githubusercontent.com/tanphan-vn/css/main/prophet.png);
}
.top-bar{
    background: #232222;
}
.top-bar__breadcrumbs{
    color: white;
}
.filters-group__panel{
    background-color: black;
    color: white;
}
.filter{
    background-color: #232222;
    color: white;
}
.filter__item{
    background-color: #232222;
    color: white;
}
.applications-list__entry{
    background: #232222;
    color: white;
}

.nav-bar__logo img {
    content: url(https://raw.githubusercontent.com/tanphan-vn/css/main/prophet.png);
}
